
  html {
    height: 100vh;
    background:  url(louvre.jpg) no-repeat center;
    background-size: cover;
/*     background-blend-mode: multiply;
    background-color: #66666633; */
  }



  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -135px;
  }

  .inner-circle{
    display: flex;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.31);
  }


  .hours {
    width: 4px;
    height: 45%;
    margin-top: 5%;
    position: absolute;
    background-color: rgb(59, 127, 230);
    transform-origin: bottom center;
    transform: rotate(110deg);

    box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.31);
  }
  .minutes {
    width: 2px;
    height: 40%;
    margin-top: 10%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform-origin: bottom center;
    transform: rotate(45deg);

    box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.31);
  }

  .seconds {
    width: 1px;
    height: 35%;
    margin-top: 15%;
    position: absolute;
    background-color: rgb(209, 58, 58);
    transform-origin: bottom center;
    transform: rotate(95deg);

    box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.31);
  }

 .hand {
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
    transition: all 0.05s;
  }

  .hand::after {
    background-color: #018DED;
    height: 20px;
    width: 20px;
    clip-path: polygon(0 0, 100% 50%, 0 100%, 0% 100%, 76% 50%, 0% 0%);

  }